* {
    --cn-blue: #5dadec;
    --cn-blue-secondary: #4974d6;
    --cn-alert: #B94941;
    --cn-warn: #ffca28;
    --cn-medium-grey: #2c2c2c;
    --cn-dark: #1b1b1b;
    font-family: sans-serif;
    font-size: 1.1rem;
}

body {
    background-color: var(--cn-dark);
    color: white;
    padding: .5rem;
}

h1 {
    font-size: x-large;
}

.sub-div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--cn-medium-grey);
    border-radius: .2rem;
}

.sub-div input {
    margin-top: 1rem;
}

.main-div {
    max-width: 70%;
    margin: auto;
}

.main-div, .input-div, .control-div {
    display: flex;
    flex-direction: column;
    border-radius: .2rem;
}

.text-input-div {
    margin-top: 1rem;
}

.warning-div {
    background-color: var(--cn-alert);
    margin: 1rem 0;
    display: none;
    border-radius: .2rem;
    padding: 1rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

label.show {
    margin-bottom: .7rem;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: var(--cn-blue);
    color: #1b1b1b;
    padding: 1rem;
    border-radius: .2rem;
    border: none;
    font-weight: 600;
}

button:active {
    background-color: var(--cn-blue-secondary);
    border: none;
    color: white;
}

button:focus {
    outline-color: var(--cn-blue-secondary);
    border: none;
}

button:hover {
    background-color: var(--cn-blue-secondary);
    color: white;
    cursor: pointer;
}

.branding {
    display: flex;
}

.branding>span {
    margin-left: auto;
}

a {
    color: white;
    font-size: x-small;
}

/* From w3schools */

/* Customize the label (the container) */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: var(--cn-blue);
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media(max-width:1000px) {
    .main-div {
        max-width: 95%;
        margin: auto;
    }
}